In [2]:
import pandas as pd

## Data Exploration and Proprocessing

In [4]:
movies = pd.read_csv('dataset.csv')

In [5]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [6]:
 movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

### Feature Selection Part

In [8]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [9]:
movies=movies[['id','title','overview','genre']]

In [10]:
movies

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy"
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure"
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War"
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama"
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime"

In [11]:
movies.loc[:,'tags']=movies['overview']+movies['genre']

In [12]:
movies.head()

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...

In [13]:
new_data = movies.drop(columns=['overview','genre'])

In [14]:
new_data.head()

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...

### Text Cleaning (NLP Text Cleaning stepswith NLTK)

In [16]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

# Download necessary NLTK resources
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package wordnet to
[nltk_data]     /home/cybertech/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/cybertech/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/cybertech/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/cybertech/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [17]:
def clean_text(text):
    #Checking text is not a string
    if not isinstance(text, str):
        return ""
        
    #Convert to lowercase 
    text = text.lower()

    #Remove punctuation but keep digits
    text = re.sub(r'[^\w\s\d]', '',text)
    
    #Tokenize
    words= word_tokenize(text)
    
    # Remove stop words
    stop_words= set(stopwords.words('english'))
    words= [word for word in words if word not in stop_words]

    #Lemmatize
    lemmatizer = WordNetLemmatizer()
    word=[lemmatizer.lemmatize(word) for word in words] 

    #Join tbe words back together
    text = ' '.join(words)
    return text

In [18]:
new_data['tag_clean']=new_data['tags'].apply(clean_text)
print(new_data['tag_clean'])

0       framed 1940s double murder wife lover upstandi...
1       raj rich carefree happygolucky second generati...
2       spanning years 1945 1955 chronicle fictional i...
3       true story businessman oskar schindler saved t...
4       continuing saga corleone crime family young vi...
                              ...
9995    story follows adventures aang young successor ...
9996    sharks take bite east coast sharknado hits was...
9997    world war ii brave patriotic american soldier ...
9998    man named farmer sets rescue kidnapped wife av...
9999    seeking justice partners murder isis member co...
Name: tag_clean, Length: 10000, dtype: object

## Count Vectorizer

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
train_data, test_data = train_test_split(new_data,test_size=0.2,random_state=42)

In [23]:
cv= CountVectorizer(max_features=10000,stop_words= 'english')

In [24]:
vector = cv.fit_transform(new_data['tag_clean'].values.astype('U')).toarray()

In [25]:
new_data['tags']

0       Framed in the 1940s for the double murder of h...
1       Raj is a rich, carefree, happy-go-lucky second...
2       Spanning the years 1945 to 1955, a chronicle o...
3       The true story of how businessman Oskar Schind...
4       In the continuing saga of the Corleone crime f...
                              ...
9995    The story follows the adventures of Aang, a yo...
9996    The sharks take bite out of the East Coast whe...
9997    During World War II, a brave, patriotic Americ...
9998    A man named Farmer sets out to rescue his kidn...
9999    Seeking justice for his partner’s murder by an...
Name: tags, Length: 10000, dtype: object

In [26]:
vector.shape

(10000, 10000)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
similarity=cosine_similarity(vector)

In [29]:
similarity

array([[1.        , 0.03175003, 0.02988072, ..., 0.0860309 , 0.09128709,
        0.03608439],
       [0.03175003, 1.        , 0.06071767, ..., 0.        , 0.        ,
        0.        ],
       [0.02988072, 0.06071767, 1.        , ..., 0.        , 0.04364358,
        0.        ],
       ...,
       [0.0860309 , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.09128709, 0.        , 0.04364358, ..., 0.        , 1.        ,
        0.        ],
       [0.03608439, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [30]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10000 non-null  int64
 1   title      10000 non-null  object
 2   tags       9985 non-null   object
 3   tag_clean  10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [31]:
distance = sorted(list(enumerate(similarity[4])),reverse=True,key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather: Part II
The Godfather
The Godfather: Part III
Brooklyn
Kind Hearts and Coronets

In [32]:
def recommend(movies):
    index = new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [33]:
recommend('Iron Man')

Iron Man
Banana
Iron Man 2
The New Mutants
Time Trap

In [34]:
import pickle

In [35]:
pickle.dump(new_data,open('movies_list.pkl','wb'))

In [67]:
pickle.dump(new_data,open('similarity','wb'))

In [71]:
pickle.load(open('movies_list.pkl','rb'))

,id,title,tags,tag_clean
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,framed 1940s double murder wife lover upstandi...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",raj rich carefree happygolucky second generati...
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",spanning years 1945 1955 chronicle fictional i...
3,424,Schindler's List,The true story of how businessman Oskar Schind...,true story businessman oskar schindler saved t...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,continuing saga corleone crime family young vi...
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...",story follows adventures aang young successor ...
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,sharks take bite east coast sharknado hits was...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...",world war ii brave patriotic american soldier ...
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,man named farmer sets rescue kidnapped wife av...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,seeking justice partners murder isis member co...